/* resets the CSS browser default values for padding and margin */
* {
	padding:0;
	margin:0;	
	font-family:Arial, Helvetica, "Sans Serif";
	outline:1px dotted red; /* dev only: outlines each element, but overlays, doesn't take up space like border */
	min-height:1px;
	}

h1,h2 {
	text-transform: uppercase;
}

p {
	margin-bottom: 15px;
}


.wrapper {
	width:970px;
	min-height:500px;
	/* margin:0 auto; don't use yet */
	}

	.header {
		/*padding:0px 25px 4px 25px;*/
	}

	.header .photo-teaser {
		display:inline-block;
		vertical-align: top;
		height:68px;
	}

	.header h1 {
		display:inline-block;
		vertical-align: middle;
		color:#2b2d31;
		font-size:1.5em;
		font-weight:bold;	
		padding-top:26px;	/* parent height:68 (68 - 15 = 53/2 = 26) */
		padding-top:26px;
		text-align: right;
		width:525px;
	}

	.header .nav-menu {
		/* why is this not working? */
		
	}

	.header ul.nav-items {
		background: -webkit-linear-gradient(#f4f7f8, #e2e8ec, #edf0f3); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#f4f7f8, #e2e8ec, #edf0f3); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#f4f7f8, #e2e8ec #edf0f3); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#f4f7f8, #e2e8ec, #edf0f3); /* Standard syntax */
		border-top:2px solid #aaa9a9;
		/*width:100%;*/
		/*height:40px;*/
		padding-left:50px;
	}

		.header ul.nav-items li {
			display:inline-block;	
			list-style-type: none;
			padding-left:6px;
			padding-top:8px;
			padding-bottom:12px;
			margin-bottom:0px;
			border-left:solid 1px #cccccc;
		}

		.header ul.nav-items li:last-child {
			padding-right:5px;
		}

		.header ul.nav-items li a {
			color:#656763;
			text-decoration:none;
			padding-right:18px;
			padding-left:12px;
			font-size: .75em;
			text-transform: uppercase;
			vertical-align: middle;
			font-weight: bold;
		}

.content {
	padding:15px 25px 25px 0px;
}

	.content img.photo-featured {
		display:inline-block;
		border:5px solid #ffffff;
		vertical-align:top;
		margin-right: 15px;
	}

	.box-featured {
		display: inline-block;
		vertical-align:top;
		width:530px;
		/*padding-right:;
		padding-bottom;*/
	}

	.box {
		display: inline-block;
		width:222px;
		margin-right:9px;
		border:2px solid #171614;
		vertical-align: top;
	}
		.box h2, .box-featured h2 {
			border-bottom:1px solid #000000;
			background: -webkit-linear-gradient(#f7d03f, #fdce27); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(#f7d03f, #fdce27); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(#f7d03f, #fdce27); /* For Firefox 3.6 to 15 */
			background: linear-gradient(#f7d03f, #fdce27); /* Standard syntax */
		}

		.box p {
			padding:15px;
		}

	.call-out {
		width:60%;
	}

	.seperator {
		height:50px;
	}